header{
    background-color:rgb(65, 59, 59);
}



body{
    margin:0;
    padding: 0;
    background-color: black;
    background-image: url(../fotos/py83aZ8UeX2JxGuQZjBy22T5.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    width: 100%;
}

.animar:hover{
    transform:scale(1.1);
}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.columna{
    flex: 25%;
    padding: 5px;

}

.columna img{
    margin-top: 5px;
}

@media(max-width:650px){
    .columna{
        flex: 50%;
    }
}
@media(max-width:800px){
    .columna{
        flex: 100%;
    }
}

footer {
   
    background-color: rgb(0, 0, 0);
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  }
  
 
  
  footer img {
    
    max-width: 50px; /* Ajusta la altura máxima de la imagen del footer */
  }
  
  footer p {
    margin-bottom: 0; /* Elimina el margen inferior del párrafo del footer */
  }